APP_NAME=Laravel
APP_ENV=production
APP_KEY=base64:YswPk+tZtn6Jj4CdKEGSj99sX7ZujbzMNZdf9QGCsQY=
APP_DEBUG=true
APP_URL=http://localhost:8000/
# APP_URL=https://staging.schoolmanagerph.com/

APP_LOCALE=en
APP_FALLBACK_LOCALE=en_US
APP_FAKER_LOCALE=en_US

# ------------------------------------------------------------
# Database Connections
# ------------------------------------------------------------

DB_CONNECTION=users_main
DB_HOST=127.0.0.1
DB_PORT=3306


# ------------------------------------------------------------
# Database Connections & Configuration (Local Site)
# ------------------------------------------------------------

# Main users database credentials
DB_DATABASE_USERS_MAIN=sm_db_users_main
DB_USERNAME_MAIN=root
DB_PASSWORD_MAIN=

# WLKA database credentials
DB_DATABASE_WLKA=sm_db_wlka
DB_USERNAME_WLKA=root
DB_PASSWORD_WLKA=


# ------------------------------------------------------------
# Database Connections & Configuration (Staging Site)
# ------------------------------------------------------------

# # Main users database credentials
# DB_DATABASE_USERS_MAIN=u141085058_stg_users
# DB_USERNAME_MAIN=u141085058_stg_root_users
# DB_PASSWORD_MAIN=M@trix103!

# # WLKA database credentials
# DB_DATABASE_WLKA=u141085058_stg_wlka
# DB_USERNAME_WLKA=u141085058_stg_wlka_root
# DB_PASSWORD_WLKA=M@trix103!


# ------------------------------------------------------------
# Database Connections & Configuration (Live Site)
# ------------------------------------------------------------

# # Main users database credentials
# DB_DATABASE_USERS_MAIN=u141085058_sm_db_users
# DB_USERNAME_MAIN=u141085058_sm_user_root
# DB_PASSWORD_MAIN=M@trix103!

# # WLKA database credentials
# DB_DATABASE_WLKA=u141085058_sm_db_wlka
# DB_USERNAME_WLKA=u141085058_sm_wlka_root
# DB_PASSWORD_WLKA=M@trix103!

# ------------------------------------------------------------
# Session, Cache, and Queue
# ------------------------------------------------------------
SESSION_DRIVER=file
SESSION_LIFETIME=120
CACHE_STORE=file
QUEUE_CONNECTION=sync

# ------------------------------------------------------------
# Mail
# ------------------------------------------------------------
MAIL_MAILER=log
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

# ------------------------------------------------------------
# Vite
# ------------------------------------------------------------
VITE_APP_NAME="${APP_NAME}"
